<!-- VIDEO DE PRODUTO -->
<div class="overlay-video">
	<buttom class="fechar_btn">&times;</buttom>
	<iframe src="https://www.youtube.com/embed/nTk_8VRs2N0?version=3&enablejsapi=1&autoplay=1&rel=0" class="youtube_video" frameborder="0" allowfullscreen></iframe>
</div>

<var=produtos_menu></var>

<section class="fw_100" id="quem_somos">
	<div class="t_box">
		<div class="col_2" id="li_align_top">
			<ul>
				<li>
					<span class="desc_produto">
						<h2 class="titulo_produto_final"><img src="/includes/images/prod_08_laranja.png">GESTÃO DE SUA INFRAESTRUTURA CLOUD</h2>
						<p>A solução de gestão inclui os serviços de manutenção e assistência técnica especializada para servidores Cloud-Amazon, promovida por uma equipe especializada.</p>

						<p>Reduza a complexidade na gestão de sua infraestrutura de cloud:</p>

						&nbsp;&nbsp;&nbsp;&nbsp;<img src="/includes/images/seta_laranja.png">&nbsp;&nbsp;Gestão de servidores (EC2)<br>
						&nbsp;&nbsp;&nbsp;&nbsp;<img src="/includes/images/seta_laranja.png">&nbsp;&nbsp;Gestão de CloudFront<br>
						&nbsp;&nbsp;&nbsp;&nbsp;<img src="/includes/images/seta_laranja.png">&nbsp;&nbsp;Gestão de DNS (Route 53)<br> 
						&nbsp;&nbsp;&nbsp;&nbsp;<img src="/includes/images/seta_laranja.png">&nbsp;&nbsp;Gerenciamento de Capacidade<br> 
						&nbsp;&nbsp;&nbsp;&nbsp;<img src="/includes/images/seta_laranja.png">&nbsp;&nbsp;Diagnóstico de Infraestrutura<br>
						&nbsp;&nbsp;&nbsp;&nbsp;<img src="/includes/images/seta_laranja.png">&nbsp;&nbsp;Gestão de Identidade e Acesso (IAM)
					</span>
				</li>
				<li>
					<var=formOptIn></var>
				</li>
			</ul>
		</div>
		<br><br><br>
		<!-- 
<div class="col_1">
			<img src="/includes/images/youtube_exemplo.jpg" width="100%">
		</div>
		<br><br><br>
 -->
	</div>
</section>