<!-- VIDEO DE PRODUTO -->
<div class="overlay-video">
	<buttom class="fechar_btn">&times;</buttom>
	<iframe src="https://www.youtube.com/embed/AtTNuitpNsg?version=3&enablejsapi=1&autoplay=1&rel=0" class="youtube_video" frameborder="0" allowfullscreen></iframe>
</div>

<var=produtos_menu></var>

<section class="fw_100" id="quem_somos">
	<div class="t_box">
		<div class="col_2" id="li_align_top">
			<ul>
				<li>
					<span class="desc_produto">
					
						<h2 class="titulo_produto_final"><img src="/includes/images/prod_01_laranja.png">SOLUÇÕES DE E-MAIL MARKETING</h2>
						<p>A JS possui  ferramentas de e-mail marketing para campanhas de publicidade e gerenciamento de listas de e-mails, newsletter e campanhas.</p>
						<p>O Marketing Digital é hoje uma grande oportunidade para todas as empresas crescerem de maneiras nunca antes possíveis. O e-mail marketing oferece condições de atuar fortemente como antigos e novos clientes, e continua sendo o melhor canal para relacionamento e engajamento com os mesmos.</p>

						Temos:<br>
						&nbsp;&nbsp;&nbsp;&nbsp;<img src="/includes/images/seta_laranja.png">&nbsp;&nbsp;Soluções Corporativas<br>
						&nbsp;&nbsp;&nbsp;&nbsp;<img src="/includes/images/seta_laranja.png">&nbsp;&nbsp;Soluções Varejo<br>
						&nbsp;&nbsp;&nbsp;&nbsp;<img src="/includes/images/seta_laranja.png">&nbsp;&nbsp;Soluções Customizadas<br>
						&nbsp;&nbsp;&nbsp;&nbsp;<img src="/includes/images/seta_laranja.png">&nbsp;&nbsp;Revenda de E-mail Marketing

						<p>Fale com seus prospects, parceiros e clientes e maximize seu marketing de relacionamento.</p>
						<p>Entre em contato e analisaremos a melhor opção para a sua empresa.</p>
						
					</span>
					
				</li>
				<li>
					<var=formOptIn></var>
				</li>
			</ul>
		</div>
		
		<!-- 
<div class="col_2" id="iqmail_iqdirect">
			<ul>
				<li>
					<span class="desc_produto">
					<img src="/includes/images/logo_iqdirect2.png">
					<p>
					O IQ Direct é uma ferramenta de Solução Corporativa, nossos especialistas irão preparar estratégias para acompanhar seus envios e podem operar a ferramenta para você, informando apenas os relatórios e resultados de cada campanha.
					Sua empresa pode integrar com seu ERP, CRM, Força de Vendas.
					Temos equipe Web Design para validar performance das suas peças, conforme o plano escolhido você terá disponível peças exclusivas criadas especialmente para a sua marca.
					IPs privados para seus envios
					Configuração de DNS com as boas práticas de envio (SPF, DKIM, CNAME...)
					Gerenciamento de ocorrências Black List
					Funil de Feedback para os principais provedores de e-mail
					Entre em contato e obtenha um período teste.
					</p>
					</span>
				</li>
				<li>
					<span class="desc_produto">
						<img src="/includes/images/iqmail_logo.png">
						<br>
						<p>Já o IQ Mail - E-mail Marketing Simples, como o próprio nome diz, é para pequenas empresas, micro empreendedores ou pessoas que gostam e tem facilidade de preparar os envios de e-mail marketing da sua maneira. 
						São 4 passos para finalizar uma campanha e enviar seus templates.
						Entre em contato e obtenha um período teste.</p>
						<p>O Marketing Digital é hoje uma grande oportunidade para todas as empresas crescerem de maneiras nunca antes possíveis. O e-mail marketing oferece condições de atuar fortemente como antigos e novos clientes, e continua sendo o melhor canal para relacionamento e engajamento com os mesmos.</p>
						<p>Fale com seus prospects, parceiros e clientes e maximize seu marketing de relacionamento.</p>
						<p>A JS possui Soluções Corporativas, Soluções Varejo, Soluções Customizadas, Revenda de E-mail Marketing, entre em contato e analisaremos a melhor opção para a sua empresa.</p>
					</span>
					
				</li>
			</ul>
		</div>
 -->
		<!-- 
<div class="col_1">
			<img src="/includes/images/youtube_exemplo.jpg" width="100%">
		</div>
		<br><br><br>
 -->
	</div>
</section>