<!-- VIDEO DE PRODUTO -->
<div class="overlay-video">
	<buttom class="fechar_btn">&times;</buttom>
	<iframe src="https://www.youtube.com/embed/6Wa-PqOJdCM?version=3&enablejsapi=1&autoplay=1&rel=0" class="youtube_video" frameborder="0" allowfullscreen></iframe>
</div>

<var=produtos_menu></var>

<section class="fw_100" id="quem_somos">
	<div class="t_box">
		<div class="col_2" id="li_align_top">
			<ul>
				<li>
					<span class="desc_produto">
						<h2 class="titulo_produto_final"><img src="/includes/images/prod_03_laranja.png">WEB METRICS</h2>
						<p>Um dos grandes diferenciais de se ter seu negócio na Internet é poder mensurar suas ações e verificar se o online da sua empresa está indo bem.</p>

						<p>
						&nbsp;&nbsp;&nbsp;&nbsp;<img src="/includes/images/seta_laranja.png">&nbsp;&nbsp;Qual a ferramenta Web Analytics você usa?<br>
						&nbsp;&nbsp;&nbsp;&nbsp;<img src="/includes/images/seta_laranja.png">&nbsp;&nbsp;Não sabe como implementar?<br>
						&nbsp;&nbsp;&nbsp;&nbsp;<img src="/includes/images/seta_laranja.png">&nbsp;&nbsp;O que medir?<br>
						&nbsp;&nbsp;&nbsp;&nbsp;<img src="/includes/images/seta_laranja.png">&nbsp;&nbsp;Quais os indicadores?
						</p>

						<p>Web Metrics é a solução que você precisa!</p>

						<p>Gerencie Tags de Publicidade através de um gerenciador de Tags, e ganhe agilidade para implementar suas campanhas de marketing digital. Deixe o "tecniquês" com a JS Corp e foque nos resultados.</p>

						<p>Instalamos, configuramos e gerenciamentos implementações de Google Tag Manager e Google Analytics pra você.</p>

						<p>Saiba o seu ROI (retorno sobre investimento), CPC (custo por clique), CPA (custo por ação), monte funis de conversão, configure metas, eventos, relatórios customizados, perfis de visualização da informação, etc.</p>

						<p>Instale e Teste tags de parceiros com agilidade.</p>

						<p>Não fique no escuro. Use a operação JS Corp Web Metrics.</p>
					</span>
				</li>
				<li>
					<var=formOptIn></var>
				</li>
			</ul>
		</div>
		<br><br><br>
		<!-- 
<div class="col_1">
			<img src="/includes/images/youtube_exemplo.jpg" width="100%">
		</div>
		<br><br><br>
 -->
	</div>
</section>