<!-- VIDEO DE PRODUTO -->
<div class="overlay-video">
	<buttom class="fechar_btn">&times;</buttom>
	<iframe src="https://www.youtube.com/embed/teSuGDHoBKE?version=3&enablejsapi=1&autoplay=1&rel=0" class="youtube_video" frameborder="0" allowfullscreen></iframe>
</div>


<var=produtos_menu></var>

<section class="fw_100" id="quem_somos">
	<div class="t_box">
		<div class="col_2" id="li_align_top">
			<ul>
				<li>
					<span class="desc_produto">
						<h2 class="titulo_produto_final"><img src="/includes/images/prod_02_laranja.png">OUTSOURCING TI</h2>
						<p>Precisa de soluções digitais e não tem, ou não faz sentido ter uma equipe de tecnologia fixa?</p>
						<p>Precisa de uma equipe com experiência em Tecnologia da Informação para fazer o seu projeto com qualidade e inovação?</p>
						<p>Sua empresa reduzirá seus custos nessa área e a JS entregará o serviço de outsourcing focado para a sua empresa.</p>
						<p>Contrate um dos planos dos modelos disponíveis na JS e tenha a flexibilidade que você precisa para focar no seu negócio, aumentando sua produtividade.</p>

						<p>Nossos modelos são:</p>

						&nbsp;&nbsp;&nbsp;&nbsp;<img src="/includes/images/seta_laranja.png">&nbsp;&nbsp;APPs<br>
						&nbsp;&nbsp;&nbsp;&nbsp;<img src="/includes/images/seta_laranja.png">&nbsp;&nbsp;Atendimento<br>
						&nbsp;&nbsp;&nbsp;&nbsp;<img src="/includes/images/seta_laranja.png">&nbsp;&nbsp;Banco de Dados<br>
						&nbsp;&nbsp;&nbsp;&nbsp;<img src="/includes/images/seta_laranja.png">&nbsp;&nbsp;Desenvolvimento Mobile<br>
						&nbsp;&nbsp;&nbsp;&nbsp;<img src="/includes/images/seta_laranja.png">&nbsp;&nbsp;Fábrica de Software<br>
						&nbsp;&nbsp;&nbsp;&nbsp;<img src="/includes/images/seta_laranja.png">&nbsp;&nbsp;Infraestrutura de TI<br>
						&nbsp;&nbsp;&nbsp;&nbsp;<img src="/includes/images/seta_laranja.png">&nbsp;&nbsp;Servidores<br>
					</span>
				</li>
				<li>
					<var=formOptIn></var>
				</li>
			</ul>
		</div>
		<br><br><br>
		<!-- 
<div class="col_1">
			<img src="/includes/images/youtube_exemplo.jpg" width="100%">
		</div>
		<br><br><br>
 -->
	</div>
</section>