<section class="fw_100" id="p-email_mkt">
	<div class="t_box">
	
		<div class="col_1">
			<h1 class="titulo_branco"><var=nome_produto></var></h2>
		</div>
<br>
		<div class="col_1">
			<h2 class="titulo_branco">PRODUTOS</h2>
			<!-- <h2 class="sub_titulo_branco">Confira como podemos ajudar sua empresa a se posicionar na Internet e alcançar seus objetivos de Marketing.</h2> -->
		</div>

		<div class="col_1" id="menu_produtos">
			
			<a class="tooltips" href="/produtos/email-marketing"><img src="/includes/images/prod_01-mkt.png" class="hvr-bounce-in"><span>SOLUÇÕES DE E-MAIL MARKETING</span></a>
			<a class="tooltips" href="/produtos/outsourcing"><img src="/includes/images/prod_02-outsourcing.png" class="hvr-bounce-in"><span>OUTSOURCING TI</span></a>
			<a class="tooltips" href="/produtos/metrics"><img src="/includes/images/prod_03-metrics.png" class="hvr-bounce-in"><span>WEB METRICS</span></a>
			<a class="tooltips" href="/produtos/responsivo"><img src="/includes/images/prod_04-responsivo.png" class="hvr-bounce-in"><span>SITE RESPONSIVO</span></a>
			<a class="tooltips" href="/produtos/solucoes-customizadas"><img src="/includes/images/prod_05-solucoes.png" class="hvr-bounce-in"><span>SOLUÇÕES CUSTOMIZADAS</span></a>
			<a class="tooltips" href="/produtos/parceria-de-midia"><img src="/includes/images/prod_06-parceria.png" class="hvr-bounce-in"><span>PARCERIA DE MÍDIA</span></a>
			<a class="tooltips" href="/produtos/presenca-digital"><img src="/includes/images/prod_07-media.png" class="hvr-bounce-in"><span>PRESENÇA DIGITAL</span></a>
			<a class="tooltips" href="/produtos/cloud"><img src="/includes/images/prod_08-cloud.png" class="hvr-bounce-in"><span>GERÊNCIA DE INFRAESTRUTURA CLOUD</span></a>
		</div>
</section>