<!-- VIDEO DE PRODUTO -->
<div class="overlay-video">
	<buttom class="fechar_btn">&times;</buttom>
	<iframe src="https://www.youtube.com/embed/AeeOYwBM9Qg?version=3&enablejsapi=1&autoplay=1&rel=0" class="youtube_video" frameborder="0" allowfullscreen></iframe>
</div>


<var=produtos_menu></var>

<section class="fw_100" id="quem_somos">
	<div class="t_box">
		<div class="col_2" id="li_align_top">
			<ul>
				<li>
					<span class="desc_produto">
						<h2 class="titulo_produto_final"><img src="/includes/images/prod_04_laranja.png">SITE RESPONSIVO</h2>
						<p>Com o novo algorítimo do Google, chamado Page Layout, está priorizando os sites responsivos ou seja, sites que se adaptam a qualquer tipo de tamanho de tela, gerando uma boa experiência em:</p>
						<p>
						&nbsp;&nbsp;&nbsp;&nbsp;<img src="/includes/images/seta_laranja.png">&nbsp;&nbsp;Celulares<br>
						&nbsp;&nbsp;&nbsp;&nbsp;<img src="/includes/images/seta_laranja.png">&nbsp;&nbsp;Tablets<br>
						&nbsp;&nbsp;&nbsp;&nbsp;<img src="/includes/images/seta_laranja.png">&nbsp;&nbsp;Computadores (desktop com telas maiores ou menores)
						</p>
						<p>Sites  responsivos, costumam se adaptar em qualquer dispositivo e agora poderão ficar melhor posicionados nos resultados do Google.</p>

						<p>Resumindo, são sites que melhor se adaptam em sua área de visualização. Faça um teste com o nosso site, aumente e diminua a janela do seu navegador e veja as diferenças. No mobile você também notará as diferenças.</p>

						<p>Clique e transforme já seu site para responsivo!</p>

						<p>Faça sua solicitação!</p>
					</span>
				</li>
				<li>
					<var=formOptIn></var>
				</li>
			</ul>
		</div>
		<br><br><br>
		<!-- 
<div class="col_1">
			<img src="/includes/images/youtube_exemplo.jpg" width="100%">
		</div>
		<br><br><br>
 -->
	</div>
</section>