<!-- VIDEO DE PRODUTO -->
<div class="overlay-video">
	<buttom class="fechar_btn">&times;</buttom>
	<iframe src="https://www.youtube.com/embed/rxc8CISixlU?version=3&enablejsapi=1&autoplay=1&rel=0" class="youtube_video" frameborder="0" allowfullscreen></iframe>
</div>


<var=produtos_menu></var>

<section class="fw_100" id="quem_somos">
	<div class="t_box">
		<div class="col_2" id="li_align_top">
			<ul>
				</li>
				<li>
					<span class="desc_produto">
						<h2 class="titulo_produto_final"><img src="/includes/images/prod_05_laranja.png">SOLUÇÕES CUSTOMIZADAS</h2>
						<p>Precisa desenvolver sites corporativos, hot sites, lojas virtuais, landing pages, aplicativos facebook, startups internet</p>
						
						<p>
						&nbsp;&nbsp;&nbsp;&nbsp;<img src="/includes/images/seta_laranja.png">&nbsp;&nbsp;Quanto você pode investir?<br>
						&nbsp;&nbsp;&nbsp;&nbsp;<img src="/includes/images/seta_laranja.png">&nbsp;&nbsp;Quando que a solução precisar estar no ar?<br> 
						&nbsp;&nbsp;&nbsp;&nbsp;<img src="/includes/images/seta_laranja.png">&nbsp;&nbsp;Desenvolver do zero? <br>
						&nbsp;&nbsp;&nbsp;&nbsp;<img src="/includes/images/seta_laranja.png">&nbsp;&nbsp;Configurar um pacote?
						</p>
						
						<p>Soluções na medida certa para o seu negócio!</p>
					</span>
				</li>
				<li>
					<var=formOptIn></var>
				</li>
			</ul>
		</div>
		<br><br><br>
		<!-- 
<div class="col_1">
			<img src="/includes/images/youtube_exemplo.jpg" width="100%">
		</div>
		<br><br><br>
 -->
	</div>
</section>
