<section class="fw_100" id="banner">
	<div class="t_box">
		<div class="col_1">
			<span>
				Fique por dentro de tudo que acontece na JS Corp.
				<br>
				Se inscreva e receba nossas notícias.
			</span>
			
			<form name="form_newsletter" id="form_newsletter" method="post">
				<input name="opcao" value="formNewsletter_send" type="hidden">

				<input name="email_newsletter" id="email_newsletter" type="email" class="input_news" placeholder="Digite seu E-mail" required>
				<br>
				<!-- <buttom class="input_news_btn">Cadastrar</buttom> -->
				<!-- <input type="submit" class="input_news_btn" value="enviar"> -->
				<input type="submit" value="Cadastrar" class="input_news_btn">
			</form>		
		</div>
</section>