<html lang="pt-BR">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="alternate" href="http://www.jscorp.com.br" hreflang="pt-br" />
	
		<title><var=pageMeta_title></var></title>
		
		<meta name="description"  content="<var=pageMeta_description></var>" />
		<meta name="keywords"     content="<var=pageMeta_keywords></var>"/>
		<meta name="robots"       content="index, follow">
		<meta name="viewport"     content="width=device-width, initial-scale=1" />
		<meta name="author"       content="JS Corp | Soluções Digitais - http://www.jscorp.com.br">
		<meta name="language"     content="portuguese">
		<meta name="distribution" content="Global">
		<meta name="rating"       content="General">
		<meta name="geo.country"  content="Brasil">
		
		<meta property="og:title"        content="JS Corp | Soluções Digitais, Mídia, Criação &amp; Planejamento Digital">
		<meta property="og:site_name"    content="JS Corp Soluções Digitais">
		<meta property="og:type"         content="website">
		<meta property="og:url"          content="http://www.jscorp.com.br/">
		<meta property="og:image"        content="http://www.jscorp.com.br/includes/images/LOGO_JS_FACEBOOK.png">
		<meta property="og:description"  content="A JS Corp foi montada por profissionais de Marketing, TI, e Web Design com larga experi&ecirc;ncia em Solu&ccedil;&otilde;es de Internet e Marketing Digital.">
		<meta property="og:latitude"     content="-23.000579">
		<meta property="og:longitude"    content="-43.390225">
		<meta property="og:street-address" content="Av. das Américas - Barra da Tijuca">
		<meta property="og:locality"     content="Rio de Janeiro">	
		<meta property="og:region"       content="RJ">
		<meta property="og:postal-code"  content="22793-081">
		<meta property="og:country-name" content="Brasil">
		<meta property="og:email"        content="comercial@jscorp.com.br">
		<meta property="og:phone_number" content="+55-21-3648-1804">
		<meta property="og:country-name" content="Brasil">
		<meta property="og:email"        content="comercial@jscorp.com.br">
		
		<meta name="google-site-verification" content="5YKAIQy4YbILrsdmnvkRleGTL2IKA4pB65y_kqkvzEw" />

		<script charset="utf-8" type="text/javascript" src="/includes/script/jquery.min.js"></script>
		<script charset="utf-8" type="text/javascript" src="/includes/script/jquery-ui.min.js"></script>
		<script charset="utf-8" type="text/javascript" src="/includes/script/jquery.maskedinputs.min.js"></script>
		<script charset="utf-8" type="text/javascript" src="/includes/script/jquery.form.min.js"></script>
		<script charset="utf-8" type="text/javascript" src='https://www.google.com/recaptcha/api.js'></script>
		<script async charset="utf-8" type="text/javascript" src="/includes/script/controller.js" ></script>	
		

		<link rel="stylesheet" property="stylesheet" type="text/css" href="/includes/css/estilo.css">
		<link rel="stylesheet" property="stylesheet" type="text/css" href="/includes/css/hover.min.css">
		<link rel="stylesheet" property="stylesheet" type="text/css" href="/includes/css/jscorp_slider.min.css"/>	
	</head>

	<body id="body">
		<!-- DATALAYER -->
		<script><var=pageDataLayer></var></script>

		<!-- Google Tag Manager -->
		<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-PGXLF2"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-PGXLF2');</script>
		<!-- End Google Tag Manager -->


		<!-- MAPA DO SITE -->
		<div class="overlay-full">
			<buttom class="fechar_btn">&times;</buttom>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3672.2125985091734!2d-43.47644704911565!3d-23.015964984882615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9bc2ad5658e669%3A0x94e97c12395aa9a3!2sJS+Corp!5e0!3m2!1spt-BR!2sbr!4v1450810342217" frameborder="0" style="border:0" allowfullscreen=""></iframe>
		</div>

		<!-- MSG -->
		<div id="overlay_msg" style="display:none;" class="overlay_msg" >
			<span id="overlay_msg_text"></span>
		</div>
	
		<!-- SITE -->
		<var=header></var>
		<var=content></var>
		<var=footer></var>	
	</body>

	<footer>
	</footer>
</html>

