<form id="form-optin" method="post" id="contato">
<div class="form_orcamento">
	<input type='hidden' name='opcao'   value='formOptIn'>
	<input type='hidden' name='id'      value='MjE1Nl85NjQ='>
	<input type='hidden' name='produto' value='<var=produto></var>'>
	
	<h2 class="titulo_cinza">Peça seu Orçamento.</h2>
	
	<br>
	<span class="form_titulo-orcamento">NOME *</span>
	<input value="" name="formContato_nome" id="formContato_nome" type="text"  tabindex="5" class="form_input" >

	<span class="form_titulo-orcamento">E-MAIL *</span>
	<input value="" name="formContato_email" id="formContato_email" type="email" tabindex="10" class="form_input" required>

	<span class="form_titulo-orcamento">Telefone *</span>
	<input value="" name="formContato_telefone" id="formContato_telefone" type="tel" tabindex="15" autocomplete="on" class="form_input" required>


	<span class="form_titulo-orcamento">DETALHE SUA DEMANDA</span>
	<textarea class="form_textarea-orcamento" name="formContato_mensagem" tabindex="25"></textarea>

	<div id="js-g-recaptcha" class="g-recaptcha" data-sitekey="6LcNkh8TAAAAAJLQ2KoDXg8FqGBP2f_UoUG0mi0h"></div>
	
	<br>

	<!-- <buttom class="orcamento_btn" id="orcamento_btn">ENVIAR</buttom> -->
	<input type="submit" value="ENVIAR" class="orcamento_btn_optin" >
</div>
<form>