<section class="fw_100" id="menu_fixed">
	<div class="t_box_menu">
		<div class="col_1" id="col_1_menu">
			<!-- <a href="#" id="btn1"><span class="menu_dropdown_btn">&times;</span></a> -->
			<button class="menu_dropdown_btn" id="menu-some">&times;</button>
			<button class="menu_dropdown_btn" id="menu-aparece">&equiv;</button>
			<a href="/">
				<div class="site_logo">
					<!-- <img src="/includes/images/logo_js-branco.png"> -->
				</div>
			</a>
			<nav class="site_menu" id="site_menu">	
				<ul>
					<a class="site_menu_li" href="/">           <li class="li-menu" id="menu_home">Home</li></a>
					<a class="site_menu_li" href="/#quem_somos"><li class="li-menu" id="menu_quem_somos">Quem Somos?</li></a>
					<a class="site_menu_li" href="/#produtos">  <li class="li-menu" id="menu_produtos">Produtos</li></a>
					<a class="site_menu_li" href="/#clientes">  <li class="li-menu" id="menu_clientes">Clientes</li></a>
					<a class="site_menu_li" href="/#contato">   <li class="li-menu" id="menu_fale_conosco">Fale Conosco</li></a>
				</ul>
			</nav>

		</div>
	</div>
</section>


