<section class="fw_100" id="produtos">
	<div class="t_box">
		<div class="col_1">
			<h1 class="titulo_branco">PRODUTOS</h1>
			<h2 class="sub_titulo_branco">Confira como podemos ajudar sua empresa a se posicionar na Internet e alcançar seus objetivos de Marketing.</h2>
		</div>
		
		<div class="col_4">
			<ul>
				<a href="/produtos/email-marketing">
				<li class="hvr-bounce-in">
					<span class="ver_pagina-produto">&rsaquo;</span>
					<img src="/includes/images/prod_01-mkt.png"><br><br>
					<h3 class="titulo_produtos">SOLUÇÕES DE<BR>E-MAIL MARKETING</h3>
					<span class="info_produtos">
						A JS possui ferramentas de e-mail marketing para envios de suas campanhas de publicidade e gerenciamento de listas de e-mails.
					</span>
				</li>
				</a>
				<a href="/produtos/outsourcing">
				<li class="hvr-bounce-in" id="prod_02">
					<span class="ver_pagina-produto">&rsaquo;</span>
					<img src="/includes/images/prod_02-outsourcing.png"><br><br>
					<h3 class="titulo_produtos">OUTSOURCING TI</h3>
					<span class="info_produtos">
						Contrate um dos planos nos modelos disponíveis na JS e tenha a flexibilidade que você precisa para focar no seu negócio, aumentando sua produtividade.
					</span>
				</li>
				</a>
				<a href="/produtos/metrics">
				<li class="hvr-bounce-in" id="prod_03">
					<span class="ver_pagina-produto">&rsaquo;</span>
					<img src="/includes/images/prod_03-metrics.png"><br><br>
					<h3 class="titulo_produtos">WEB METRICS</h3>
					<span class="info_produtos">
						A JS instala Tags de publicidade, necessárias para mensurar o seu negócio online. Analisaremos o seu negócio e vamos informar quais são os melhores indicadores para medir  o seu site.
					</span>
				</li>
				</a>
				<a href="/produtos/responsivo">
				<li class="hvr-bounce-in" id="prod_04">
					<span class="ver_pagina-produto">&rsaquo;</span>
					<img src="/includes/images/prod_04-responsivo.png"><br><br>
					<h3 class="titulo_produtos">SITE RESPONSIVO</h3>
					<span class="info_produtos">
						Sites  responsivos, costumam se adaptar em qualquer dispositivo e agora poderão ficar melhor posicionados nos resultados do Google. Faça um teste com o nosso site e você notará as diferenças.
					</span>
				</li>
				</a>
				<a href="/produtos/solucoes-customizadas">
				<li class="hvr-bounce-in" id="prod_05">
					<span class="ver_pagina-produto">&rsaquo;</span>
					<img src="/includes/images/prod_05-solucoes.png"><br><br>
					<h3 class="titulo_produtos">SOLUÇÕES CUSTOMIZADAS</h3>
					<span class="info_produtos">
						Soluções na medida certa para o seu negócio! Quanto você pode investir?  Quando que a solução precisar estar no ar? Desenvolver do zero?  Configurar um pacote?
					</span>
				</li>
				</a>
				<a href="/produtos/parceria-de-midia">
				<li class="hvr-bounce-in" id="prod_06">
					<span class="ver_pagina-produto">&rsaquo;</span>
					<img src="/includes/images/prod_06-parceria.png"><br><br>
					<h3 class="titulo_produtos">PARCERIA DE MÍDIA</h3>
					<span class="info_produtos">
						Gere Tráfego para o seu site e aumente as chances de sucesso do seu negócio! Pague somente pelo resultado gerado. Entre em contato e nossos especialistas irão verificar a melhor opção para a sua empresa.
					</span>
				</li>
				</a>
				<a href="/produtos/presenca-digital">
				<li class="hvr-bounce-in" id="prod_07">
					<span class="ver_pagina-produto">&rsaquo;</span>
					<img src="/includes/images/prod_07-media.png"><br><br>
					<h3 class="titulo_produtos">PRESENÇA DIGITAL</h3>
					<span class="info_produtos">
						Você tem um negócio e ainda não está na Internet? Adquira o pacote Presença Digital e turbine seu negócio! Entre na internet em apenas 1 mês.
					</span>
				</li>
				</a>
				<a href="/produtos/cloud">
				<li class="hvr-bounce-in" id="prod_08">
					<span class="ver_pagina-produto">&rsaquo;</span>
					<img src="/includes/images/prod_08-cloud.png"><br><br>
					<h3 class="titulo_produtos">GERÊNCIA DE INFRAESTRUTURA CLOUD</h3>
					<span class="info_produtos">
						A solução de gestão inclui os serviços de manutenção e assistência técnica especializada para servidores Cloud-Amazon, promovida por uma equipe especializada.
					</span>
				</li>
				</a>
			</ul>
		</div>
	</div>
</section>