<section class="fw_100" id="quem_somos">
	<div class="t_box">
		<div class="col_1">
			<h1 class="titulo_cinza">QUEM SOMOS?</h1>
		</div>
		<div class="col_2">
			<ul>
				<li>
					<img src="/includes/images/seta_laranja_02.png" class="aspas"><span class="quem_somos_texto">A JS Corp foi montada por profissionais de Marketing, TI, e Web Design com larga experiência em Soluções de Internet e Marketing Digital.</span>
					<br>
					<img src="/includes/images/seta_laranja_02.png" class="aspas"><span class="quem_somos_texto">Isso faz com que a empresa tenha grande foco em formar parcerias com Startups, Agências Digitais, Lojas Virtuais, Agregadores de Ofertas e Portais, oferecendo soluções sob medida para cada cenário.</span>
					<br>
					<img src="/includes/images/seta_laranja_02.png" class="aspas"><span class="quem_somos_texto">Nosso foco é criar uma parceria com nossos clientes. Precificação, Prazos, Cronogramas, Tipos de Solução, tudo é pensado de forma a atender o cliente dentro da sua realidade de negócios.</span>
					<br>
					<img src="/includes/images/seta_laranja_02.png" class="aspas"><span class="quem_somos_texto">Desde 2005 provendo soluções B2B no mercado brasileiro</span>
				</li>
				<li><img src="/includes/images/office_img.png" style="max-width:100%;"></li>
			</ul>
		</div>
	</div>
</section>

<!-- <img src="/includes/images/aspas.png" class="aspas"> -->