<section class="fw_100" id="rodape">
	<div class="t_box">
		<div class="col_4">
			<ul>
				<li>
					<div>
					Av das Américas 7935 - sala 552<br>
					Barra da Tijuca - Rio de Janeiro - RJ<br>
					CEP 22793-081
					</div>
				</li>
				<li>
					<div>
						<img src="/includes/images/telefone_branco.png" style="opacity:0.6; margin:0 10px -10px 0;">
						<a href="tel:2136481804" id="contatoTelefone" target="_top" style="text-decoration:none; color: #ABABAB;">
							(21) 97694-5998
						</a>

						<br><br>

						<img src="/includes/images/email_branco.png" style="opacity:0.6; margin:0 10px -10px 0;">
						<a href="mailto:comercial@jscorp.com.br?Subject=Contato Site JS Corp" id="contatoEmail" target="_top" style="text-decoration:none; color: #ABABAB;">
							comercial@jscorp.com.br
						</a>
					</div>
				</li>
				<li>
					<!-- <a href="#" target="_blank"><span class="redes_sociais_btn" id="facebook_btn"><img src="/includes/images/face.png"></span></a> -->
					<!-- <a href="#" target="_blank"><span class="redes_sociais_btn" id="twitter_btn"><img src="/includes/images/twitter.png"></span></a> -->
					<a href="https://plus.google.com/u/1/112673114094503861404" target="_blank"><span class="redes_sociais_btn" id="google_plus_btn"><img src="/includes/images/google_plus.png"></span></a>
					<a href="https://www.linkedin.com/company/js-corp" target="_blank"><span class="redes_sociais_btn" id="linkedin_btn"><img src="/includes/images/linkedin.png"></span></a>
				</li>
				<li>
					<div class="mapa_btn">
						<span>Veja no mapa</span>
						<img src="/includes/images/map-8.png" width="60%">
					</div>
				</li>
			</ul>
		</div>	
	</div>
</section>
<section class="fw_100" id="copyright">
	<div class="t_box">
		<div class="col_1">
			<span>Copyright © 2006-2021</span>
		</div>
</section>


