<div class="ism-slider" data-play_type="loop" data-image_fx="zoompan" id="my-slider">
	<ol>
		<li>
			<img src="/includes/images/outsourcing-IT.jpg">
			<!-- <div class="ism-caption ism-caption-0">My slide caption text</div> -->
		</li>
		<li>
			<img src="/includes/images/Post Office Wandern.jpg">
			<!-- <div class="ism-caption ism-caption-0">My slide caption text</div> -->
		</li>
		<li>
			<img src="/includes/images/service-support-employee.jpg">
			<!-- <div class="ism-caption ism-caption-0">My slide caption text</div> -->
		</li>
	</ol>
</div>
